.active-chat-container {
  /* z-index: 999999999; */
  padding: 0 0 40px 0;
  position: relative;
  height: 96%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20.6px;
}

.bot {
  z-index: 999999999;
  display: flex;
  justify-content: flex-end;
  gap: 20.6px;
}

.user {
  z-index: 999999999;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 20.6px;
}

.chat-blob {
  z-index: 999999999;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  background-color: #d9d9d9;
}

.chat-text {
  font-family: "IBM Plex Sans Arabic", serif;
  z-index: 999999999;
  max-width: 80%;
  display: inline-flex;
  padding: 16px 25px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  direction: rtl;
}

.chat-text p {
  z-index: 999999999;
  color: #fff;
  line-height: 20px;
  margin-bottom: 9px;
}

.scrollArea {
  z-index: 999999999;
  width: 65%;
  height: 66%;
  overflow-y: scroll;
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  gap: 30.6px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 575px) {
  .scrollArea {
    height: 67%;
    width: 95%;
    padding: 0 20px;
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #7500af;
  border-style: solid solid dotted;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loding-container {
  z-index: 999999999;
}

.loading-bar {
  height: 1.05rem;
  border-radius: 0.125rem;
}

.gradient-1 {
  background-image: linear-gradient(
    to right,
    #eff6ff 30%,
    #7500af 60%,
    #eff6ff
  );
  width: 80%;
}

.gradient-2 {
  background-image: linear-gradient(
    to right,
    #eff6ff 30%,
    #7500af 60%,
    #eff6ff
  );
  width: 100%;
}

.gradient-3 {
  background-image: linear-gradient(
    to right,
    #eff6ff 30%,
    #7500af 60%,
    #eff6ff
  );
  width: 60%;
}
