.home {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20.6px;
}

.home-title {
  font-family: "Somar Rounded";
  font-size: 58.497px;
  font-style: normal;
  font-weight: 700;
  line-height: 68.247px;
  color: #fff;
}

.home-subTitle {
  text-align: right;
  font-family: "Somar Rounded";
  font-size: 58.497px;
  font-style: normal;
  font-weight: 700;
  line-height: 68.247px; /* 116.667% */
  background: linear-gradient(90deg, #7186ff 11%, #fe7587 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-desc {
  width: 991px;
  color: #fff;
  text-align: center;
  font-family: "Somar Rounded";
  font-size: 19.499px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.198px; /* 160% */
}

.home-buttons-groub {
  display: inline-flex;
  align-items: center;
  gap: 26px;
  margin-top: 30px;
}
.home-button {
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
}

.home-button-text {
  color: var(--Mono-White, #fff);
  text-align: right;
  font-family: "Somar Rounded";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
}

@media (min-width: 576px) and (max-width: 770px) {
  /* Styles for small devices */

  .home-title {
    font-size: 55px;
  }

  .home-subTitle {
    font-size: 53px;
  }

  .home-desc {
    font-size: 23px;
  }

  /* .home-buttons-groub {
      display: flex;
      flex-direction: column;
      align-items: center;
    } */

  .home-button {
    width: 100%;
  }

  .home-button-text {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .home-title {
    font-size: 26px;
    margin-top: 51px;
  }
  .home-subTitle {
    font-size: 33px;
  }
  .home-desc {
    font-size: 16px;
    width: 90%;
  }
  .home-buttons-groub {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-button {
    width: 100%;
  }
  .home-button-text {
    text-align: center;
  }
}
